#!/usr/bin/env bash
source_up
. bwu

# Hetzner cloud
export TF_VAR_twilio_api_key="$(show-secure-note twilio-sid)"

# Hetzner DNS
export TF_VAR_twilio_api_secret="$(show-secure-note twilio-secret)"
export TF_VAR_twilio_account_sid="$(show-secure-note twilio-account-sid)"

export TF_VAR_incoming_phone_number="$(show-secure-note twilio-xmas-phone-number)"

export AWS_ACCESS_KEY_ID="$(show-secure-note aws-tha-access-key-id)"
export AWS_SECRET_ACCESS_KEY="$(show-secure-note aws-tha-access-key-secret)"
export AWS_DEFAULT_REGION=eu-west-2

export TWILIO_AUTH_TOKEN="$(show-secure-note twilio-auth-token)"
