#!/usr/bin/env bash
source_up
. bwu

# Hetzner cloud
export TF_VAR_twilio_api_key="$(show-secure-note twilio-sid)"

# Hetzner DNS
export TF_VAR_twilio_api_secret="$(show-secure-note twilio-secret)"
export TF_VAR_twilio_account_sid="$(show-secure-note twilio-account-sid)"

export TF_VAR_incoming_phone_number="$(show-secure-note twilio-xmas-phone-number)"
